<a href="/"><img class="logoLogin" src="/image/e.png" alt=""></a>
<h2 id="login">Login</h2>
<form id="form-login" action="/login" method="POST">
    <div>
    <input class="camposLogin"type="text" name="alias" placeholder="ALIAS">
    </div>
    <div>
    <input class="camposLogin" type="password" name="password" placeholder="PASSWORD">
    </div>
  <% if (typeof message != "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <div>
  <input class="bottomLogin" type="submit" value="Login">
  <a class="bottonFB" href="/auth/facebook">Login<br> CON FACEBOOK</a>
</div>
<p class="account-messagelogin ">
    Do you have an account?
    <br>
    <a class="SignupLogin" href="/signup">Signup</a>
  </p>
</form>
