<img class="logo2" src="/image/e.png" alt="">
<h2 id="login">Login</h2>
<form id="form-container" action="/login" method="POST">
    <input class="campos"type="text" name="alias" placeholder="ALIAS">
    <input class="campos" type="password" name="password" placeholder="PASSWORD">
  </div>
  <% if (typeof message != "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <div>
  <input class="bottom3" type="submit" value="Login">
  </div>
  <a class="bottom4" href="/auth/facebook">Login CON FACEBOOK</a>

</form>
