

<a href="/"><img class="logosignup" src="/image/e.png" alt=""></a>
<h2 id="signup">Signup</h2>
<form action="/signup" method="POST" id="form-signup" enctype="multipart/form-data">
  <div>
  <input class="campossignup" id="name" type="text" name="name" placeholder="NAME">
  <input class="campossignup" id="alias" type="text" name="alias" placeholder="ALIAS">
  </div>
  <div>
  <input class="campossignup" id="email" type="email" name="email" placeholder="EMAIL">
  <input class="campossignup" id="password" type="password" name="password" placeholder="PASSWORD">
  </div>
  <div>
  <input class="PickSignup" id="pick" type="file" name="pick">
  </div>
  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <input class="CreateAccount" type="submit" value="Create account">
  <p class="account-message">
    Do you already have an account?
    <br>
    <a class="loginSignup" href="/login">Login</a>
  </p>
</form>
