<img class="logo3" src="/image/e.png" alt="">

<% if(user) { %>
  <div id="form-container2">
    <h2 class="user"><%= user.alias %></h2>
    <img class="pick" src="<%= user.pick %>" height="150px" />
    <div id="form-container3">
      <form action="/" method="POST">
        <div class="menu">
          <a href="/questionsList">Ver preguntas</a>
        </div>
        <div class="menu">
          <a href="/new">Añadir preguntas</a>
        </div>
        <div class="menu">
          <a href="/user/<%= user._id %>/edit/">Edit User</a>
        </div>

        <div class="menu">
          <a href="/logout">LOGOUT</a>
              </div>
      </form>
      </div>
    </div>
    <%= console.log("LOGEADO")%>
      <% }%>
