<% if(user) { %>
  <p>ESTA ES UNA PAGINA SECRETA</p>

  <h2>Hola usuario <%= user.alias %></h2>
  <div><img src="<%= user.pick %>" height="200px" /></div>
  <form action="/" method="POST">
    <a href="/questionsList">Ver preguntas</a>
    <a href="/new">Añadir preguntas</a>
    <a href="/logout">LOGOUT</a>
  </form>

  <%= console.log("LOGEADO")%>
<% }%>
