<p>ESTA ES UNA PAGINA SECRETA</p>
<% if(user) { %>
  <h2>Hola usuario <%= user.alias %></h2>
  <form action="/logout" method="POST">
    <a href="/viewQues">Ver preguntas</a>
  <a href="/add">Añadir preguntas</a>
    <button>Logout</button>
  </form>
  <%= console.log("LOGEADO")%>
<% } %>
