/*GENERAL*/

@import url('https://fonts.googleapis.com/css?family=Lato');
body, html {
  color: #3D3D3D;
  padding: 50px;
  background-color: #3F5062;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* INDEX */

.logoIndex {
  height: 100%;
  margin-left: 270px;
}



.indexp {
  color: white;
  margin-left: 340px;
  margin-right: 375px;
  font-size: 40px;
  text-align: center;
}
/*SIGNUP*/

.logosignup {
  height: 200px;
  margin-left: 355px;
  margin-top: -100px;
}

#signup {
  color: lightgrey;
  margin-top: 0px;
  text-align: center;
  font-size: 30px;
}

#form-signup {
  padding: 40px 30px 20px 30px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 33px;
  border-radius: 10px;
  box-shadow: 1px 1px 25px #3D3D3D;
  background-color: #E38451;
}

.campossignup {
  font-size: 20px;
  background-color: white;
  border-radius: 0px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: none;
  padding: 10px 0px 10px 10px;
}

.PickSignup {
  background-color: #3F4F64;
  border-radius: 0px;
  box-shadow: 0px 0px 10px #E38451;
  border: none;
  color: white;
  padding: 15px 67px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 0px 20px 8px;
  cursor: pointer;
}

.CreateAccount {
  background-color: #3F4F64;
  border: none;
  color: white;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 150px;
  cursor: pointer;
  border-radius: 0px;
}

.account-message {
  font-size: 12px;
  margin-top: 0px;
  margin-left: 157px;
  margin-bottom: 0px;
}

.loginSignup {
  margin-left: 70px;
}

/*LOGIN*/

.logoLogin {
  height: 200px;
  margin-left: 355px;
  margin-top: -100px;
}

#login {
  color: lightgrey;
  margin-top: 0px;
  text-align: center;
  font-size: 30px;
}

#form-login {
  padding: 30px 30px 25px 10px;
  margin-left: 390px;
  margin-right: 390px;
  margin-top: 33px;
  border-radius: 10px;
  box-shadow: 1px 1px 25px #3D3D3D;
  background-color: #E38451;
}

.camposLogin {
  font-size: 20px;
  background-color: white;
  border-radius: 0px;
  margin-left: 20px;
  margin-bottom: 10px;
  border: none;
  padding: 10px 0px 10px 10px;
}

.bottomLogin {
  background-color: #3F4F64;
  border: none;
  color: white;
  padding: 14px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px 0px 20px;
  cursor: pointer;
}

.bottonFB {
  background-color: #3F4F64;
  border: none;
  color: white;
  padding: 14px 26px 16px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 7px;
  margin: 0px 0px;
  cursor: pointer;
}


.account-messagelogin {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 70px;
  margin-bottom: 0px;
}


.SignupLogin {
  margin-left: 40px;
}

/*SECRET*/

.logosecret {
  height: 100px;
  margin-left: 440px;
  margin-top: -80px;
}


.menu {
  text-align: center;
  background-color: #6A7481;
  margin: 10px 1px 10px 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px #1B3351;
}

#form-container3 {
  padding: 30px 30px 30px 30px;
  margin-top: 43px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #3D3D3D;
  background-color: #3F4F64;
  color: white;
  margin-top: -30px;
}

#form-secret {
  padding: 10px 30px 30px 30px;
  margin-left: 350px;
  margin-right: 350px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 1px 10px 25px #3D3D3D;
  background-color: #E38451;
}

.user {
  text-align: center;
  color: white;
  background-color: #CE632A;
  padding: 10px 10px 12px 10px;
  border-radius: 10px 10px 0px 0px;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 20px;
  margin-bottom: 0px;
  box-shadow: 1px 1px 25px #3D3D3D;
  border-bottom: solid 1px  #3F5062;
}

.pick {
  border-radius: 100px;
  margin-left: 75px;
  margin-top: 10px;
  border: solid 5px  #3F4F64;
}

/*EDIT USERS*/

#form-edit {
  padding: 40px 30px 20px 30px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 33px;
  border-radius: 10px;
  box-shadow: 1px 1px 25px #3D3D3D;
  background-color: #E38451;
}

.camposedit {
  font-size: 20px;
  background-color: white;
  border-radius: 0px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: none;
  padding: 10px 0px 10px 10px;
}

.updateAccount {
  background-color: #3F4F64;
  border: none;
  color: white;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 165px;
  cursor: pointer;
  border-radius: 0px;
}

#cancel {
  margin-left: 225px;
}


/*  QUESTIONLIST */


.logoQuestion {
  height: 150px;
  margin-left: 400px;
  margin-top: -100px;
}

#form-questionList {
  padding: 27px 30px 11px 30px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 43px;
  border-radius: 10px;
  box-shadow: 1px 1px 25px #3D3D3D;
  background-color: #E38451;
}

.questionList {
  margin-top: 0px;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  background-color: #C24B0B;
  padding: 5px 50px 5px 50px;
}

.labelquestion {
  margin-top: 10px;
  font-size: 18px;
  border-radius: 10px;
  color: white;
  background-color: #C24B0B;
  padding: 18px 10px 16px 10px;
}

input[type="radio"] {
  width: 10px;
  height: 40px;
  margin: 0px 10px 0px 60px;
  vertical-align: middle;
  cursor: pointer;
}

#sendAnswer{
  background-color: #3F4F64;
  border: none;
  color: white;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 190px;
  cursor: pointer;
  border-radius: 0px;
}


/* NEW */


.logoNew {
  height: 75px;
  margin-left: 450px;
  margin-top: -300px;
}

#form-questionNew {
  padding: 5px 15px 5px 15px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 3px;
  border-radius: 10px;
  box-shadow: 1px 1px 25px #3D3D3D;
  background-color: #E38451;
}

.questionnew {
  margin-top: 10px;
  font-size: 13px;
  border-radius: 10px;
  color: white;
  background-color: #C24B0B;
  padding: 8px 10px 0px 40px;
}

.camposNew {
  border-radius: 1px;
  margin-left: 45px;
  margin-bottom: 10px;
  border: none;
  padding-right: 200px;
  border-radius: 3px;
}

.questionNew {
  border-radius: 3px;
  margin-top: 10px;
  margin-left: 45px;
  margin-bottom: 20px;
  border: none;
  padding: 5px 300px 5px 20px;
  border-radius: 3px;
}

#CreateNew {
  background-color: #3F4F64;
  border: none;
  color: white;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 250px;
  cursor: pointer;
  border-radius: 0px;
}
