<a href="/"><img class="logoNew" src="/image/e.png" alt=""></a>
<h2 id="signup">Añadir pregunta</h2>
<form id="form-questionNew" action="/new" method="POST">
  <div class="questionnew">
    <label class="camposNew" for="question">Añade una pregunta: </label>
    <input  class="questionNew" type="question" name="question">
  </div>
  <div class="questionnew">
    <label class="camposNew"  for="answA">Añadir repuesta A</label>
    <input class="questionNew"  type="answA" name="answA">
  </div>
<div class="questionnew">
    <label class="camposNew"  for="answB">Añadir repuesta B</label>
    <input class="questionNew"  type="answB" name="answB">
  </div>

<div class="questionnew">
      <label class="camposNew"  for="answC">Añadir repuesta C</label>
      <input class="questionNew"  type="answC" name="answC">
    </div>

<div class="questionnew">
      <label class="camposNew" for="answD">Añadir repuesta D</label>
      <input class="questionNew"  type="answD" name="answD">
    </div>
  <% if (typeof message != "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <div>
    <input id="CreateNew" type="submit" value="NEW">
  </div>
</form>
