<article class="container">
  <header><h1><%= question.question %></h1></header>
  <div>
    <% question.answers.forEach( (answer, index) =>{ %>
    <input type="radio" name="answer" value="<%= index %>"><%= answer %><br>
    <% }) %>
  </div>
  <button id="sendAnswer">Envía tu respuesta</button>
</article>
